{{> menu id="about"}}

<section class="ui center aligned middle aligned two column grid segment">
  <div class="column">
    <header class="ui header"> Weather App </header>
    <p> Monitor latest weather station readings </p>
  </div>
  <div class="column">
    <img class="ui image" src="https://cdn.glitch.global/2f1993cd-a3c2-42e6-a203-993e6377bb39/icons%20(1).jpg?v=1662922586530">
  </div>
</section>