{{> menu id="dashboard"}}

{{#each stations}}
  <section class="ui segment">
    <h2 class="ui header">
      {{name}}
    </h2>
     <a href="/station/{{id}}" class="ui icon button">
      <i class="icon folder open"></i>
    </a>
    <a href="/dashboard/deleteStation/{{id}}" class="ui icon button">
      <i class="icon trash"></i>
    </a>
  </section>
{{/each}}
  <section class="ui segment">
    {{> addstation}}
  </section>